<app-page-banner [pageBanner]="bannerData"></app-page-banner>
<section class="services-page">
  <div class="services-page__heading">
    Thabe Moyo Construction and Projects offers the following services:
  </div>
  <div class="services-page__services">
    <div class="service">
      <div class="header blue">
        Residential Construction
      </div>
      <div class="service-list">
        <span class="service-content">
          <img src="/assets/images/services/buildingnew.jpg">
          <div class="text">Building of new houses</div>
        </span>
        <span class="service-content">
          <img src="/assets/images/services/houseplans.jpg">
          <div class="text">House Plans</div>
        </span>
        <span class="service-content">
          <img src="/assets/images/services/apartments.jpg">
          <div class="text">Apartments</div>
        </span>
        <span class="service-content">
          <img src="/assets/images/services/lowcost.jpg">
          <div class="text">Low Cost Housing</div>
        </span>
        <span class="service-content">
          <img src="/assets/images/services/walls.jpg">
          <div class="text">Walls</div>
        </span>
      </div>
    </div>

    <div class="service">
      <div class="header yellow">
        Granite Services
      </div>
      <div class="service-list">
        <span class="service-content">
          <img src="/assets/images/services/bathroomremodel.jpg">
          <div class="text">Counter tops: Kitchen & Bathrooms</div>
        </span>
        <span class="service-content">
          <img src="/assets/images/placeholder02.jpg">
          <div class="text">Bar Counters</div>
        </span>
        <span class="service-content">
          <img src="/assets/images/placeholder02.jpg">
          <div class="text">Restaurants Tables</div>
        </span>
        <span class="service-content">
          <img src="/assets/images/services/kitchen-tables.jpg">
          <div class="text">Marble Kitchen Tables</div>
        </span>
        <span class="service-content">
          <img src="/assets/images/placeholder02.jpg">
          <div class="text">Tombstones</div>
        </span>
      </div>
    </div>
    <div class="service">
      <div class="header blue">
        Renovations
      </div>
      <div class="service-list">
        <span class="service-content">
          <img src="/assets/images/services/kitchen01.jpg">
          <div class="text">Kitchen Remodels
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/services/bathroomremodel.jpg">
          <div class="text">Bathroom Remodels
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/services/homeeditions.jpg">
          <div class="text">Home additions
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/services/interiorremodel.jpg">
          <div class="text">Interior Remodelling
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/services/exteriorremodel.jpg">
          <div class="text">Exterior Remodelling
          </div>
        </span>
      </div>
    </div>
    <div class="service">
      <div class="header yellow">
        Cleaning Services
      </div>
      <div class="service-list">
        <span class="service-content">
          <img src="/assets/images/placeholder02.jpg">
          <div class="text">Warehouse Cleaning
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/placeholder02.jpg">
          <div class="text">Industrial Cleaning
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/services/cleaning.jpg">
          <div class="text">Corporate Cleaning
          </div>
        </span>
      </div>
    </div>
    <div class="service">
      <div class="header blue">
        Road Construction
      </div>
      <div class="service-list">
        <span class="service-content">
          <img src="/assets/images/placeholder02.jpg">
          <div class="text">Planning
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/placeholder02.jpg">
          <div class="text">Project Engineering
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/placeholder02.jpg">
          <div class="text">Asphalt road
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/placeholder02.jpg">
          <div class="text">Concrete Roads
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/placeholder02.jpg">
          <div class="text">Pavement Engineering
          </div>
        </span>
      </div>
    </div>
    <div class="service">
      <div class="header yellow">
        Road Maintenance
      </div>
      <div class="service-list">
        <span class="service-content">
          <img src="/assets/images/services/roadm.jpg">
          <div class="text">Maintenance of roads
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/services/pavement.jpg">
          <div class="text">Pavement layering
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/services/road3.jpg">
          <div class="text">Road sealing
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/services/drainage.jpg">
          <div class="text">Drain installation
          </div>
        </span>
        <span class="service-content">
          <img src="/assets/images/placeholder02.jpg">
          <div class="text">Project Management
          </div>
        </span>
      </div>
    </div>
  </div>

</section>
