<section class="services-home">
  <div class="services-home__header">
    Services
  </div>
  <div class="services-home__cards">
    <div class="card">
      <img src="assets/images/service-cards/renovation.png">
      <div class="text">Renovations</div>
    </div>
    <div class="card">
      <img src="assets/images/service-cards/construction.png">
      <div class="text">Construction</div>
    </div>
    <div class="card">
      <img src="assets/images/service-cards/cleaning.png">
      <div class="text">Cleaning Services</div>
    </div>
    <div class="card">
      <img src="assets/images/service-cards/roadmainte.png">
      <div class="text">Road Maintenance</div>
    </div>
    <div class="card">
      <img src="assets/images/service-cards/roadcon.png">
      <div class="text">Road Construction</div>
    </div>
    <div class="card">
      <img src="assets/images/service-cards/granite.png">
      <div class="text">Granite Services</div>
    </div>
  </div>

</section>
