<app-banner></app-banner>
<section class="contact-page">
  <div class="contact-page__content">
    <div class="header blue">
      Contact Us
    </div>
    <div class="contact-page__details">
      <div class="contact-details">
        <span>Address: Plot 125</span>
        <span>R511 Road </span>
        <span>Brits</span>
        <span>Tel: 0125167063</span>
        <span>Cell: 0722535356</span>
        <span>E-mail: info@thabemconstruction.co.za</span>
        <span>Website: www.thabemconstruction.co.za.za</span>

      </div>
      <div class="form">
          <form >
            <div> <input type="text" class="form-control" placeholder="Test"> </div> 
             <div> <input type="text" class="form-control" placeholder="Test"> </div>
             <div> <input type="text" class="form-control" placeholder="Test"></div>
             <div> <input type="text" class="form-control" placeholder="Test"></div>
              <button>Send</button>
          </form>
      </div>
    </div>
    <div class="header yellow">
      Visit Us
    </div>
  </div>


</section>
