<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
    <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/about" (click)="onSidenavClose()">
    <span class="nav-caption">About</span>
  </a>
  <a mat-list-item routerLink="/services" (click)="onSidenavClose()">
    <span class="nav-caption">Services</span>
  </a>
  <a mat-list-item routerLink="/gallery" (click)="onSidenavClose()">
    <span class="nav-caption">Gallery</span>
  </a>
  <a mat-list-item routerLink="/quotation" (click)="onSidenavClose()">
    <span class="nav-caption">Quotation</span>
  </a>
  <a mat-list-item routerLink="/contact" (click)="onSidenavClose()">
    <span class="nav-caption">Contact</span>
  </a>
</mat-nav-list>
