<section class="footer">
<div class ="footer__items">
<div class="item">
    <span class="header">Links</span>
    <span>Link01</span>
    <span>Link02</span>
    <span>Link03</span>
    <span>Link04</span>
</div>
<div class="item">
    <span class="header">Links</span>
    <span>Link01</span>
    <span>Link02</span>
    <span>Link03</span>
    <span>Link04</span>
</div>
<div class="item">
    <span class="header">Links</span>
    <span>Link01</span>
    <span>Link02</span>
    <span>Link03</span>
    <span>Link04</span>
</div>
<div class="item">
    <span class="header">Links</span>
    <span>Link01</span>
    <span>Link02</span>
    <span>Link03</span>
    <span>Link04</span>
</div>
    </div>
<div class="footer__copyright">&copy; Thabe Moyo Projects 2021. All rights reserved.</div>
</section>
