.footer {
  width: 100%;

  &__items {
    display: flex;
    flex-direction: column;
    background-color: #35AAB4; //rgb(53,170,180)
    color: white;
    justify-content: space-around;
    padding: 1em 0em;

    @media(min-width: 768px) {
      flex-direction: row;
    }

    .item {
      display: flex;
      flex-direction: column;
      padding: 1em;
      font-size: 15px;
      justify-content: center;
      align-items: center;

      .header {
        font-size: 17px;
        font-weight: 700;
      }

      .link {
        font-size: 15px;
        padding: 0.3em 0em;
      }
    }
  }

  &__copyright {
    text-align: center;
    height: 5vh;
    font-size: 10px;
    padding: 10px;
    background-color: #ECCC3D;
  }
}
