<section class="footer">
<div class ="footer__items">
<div class="item">
    <span class="header">Links</span>
    <span class="link">About</span>
    <span class="link">Services</span>
    <span class="link">Quotation</span>
    <span class="link">Contact</span>
</div>
<div class="item">
    <span class="header">Services</span>
    <span class="link">Road Construction</span>
    <span class="link">Cleaning Services</span>
    <span class="link">Residential Construction</span>
    <span class="link">Granite Services</span>
</div>
<div class="item">
    <span class="header">Address</span>
    <span class="link">Plot 125</span>
    <span class="link">R511 Road</span>
    <span class="link">Brits</span>
    <span class="link">0250</span>
</div>
<div class="item">
    <span class="header">Contact</span>
    <span class="link">0722371459</span>
    <span class="link">0722535356</span>
    <span class="link">info@thabemconstruction.co.za</span>
    <span class="link">www.thabemconstruction.co.za</span>
</div>
    </div>
<div class="footer__copyright">&copy; Thabe Moyo Projects 2021. All rights reserved.</div>
</section>
