.footer {
    width: 100vw;

    &__items {
        display: flex;
        flex-direction: column;
        background-color: #35AAB4;
        color: white;

        @media(min-width: 768px) {
         flex-direction: row;   
        }

        .item {
            display: flex;
            flex-direction: column;
            padding: 1em;
            font-size: 15px;

         .header {
             font-size: 20px;
         }   
        }
    }

    &__copyright {
     text-align: center;
     height: 5vh;
     font-size: 10px;   
     padding: 10px;   
     background-color: #ECCC3D;   
    }
}