<app-page-banner [pageBanner]="bannerData"></app-page-banner>
<section class="gallery-page">
    <div class="gallery-page__content">
    <div class="header blue">
        Gallery
      </div>
    </div>
    <div class="container">
      <div class="gallery-page__masonry">
        <div class="grid">
          <img src="assets/images/gallery/gallery01.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery02.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery03.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery04.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery05.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery06.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery07.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery08.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery09.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery10.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery11.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery12.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery13.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery14.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery15.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery16.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery17.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery18.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery19.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery20.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery21.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery22.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery23.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery24.jpg">
        </div>
        <div class="grid">
          <img src="assets/images/gallery/gallery25.jpg">
        </div>
      </div>
    </div>
</section>

