.top-toolbar {
  padding: 20px;

  img {
    height: 30%;
    width: 30%;
    z-index: 1;
    padding: 0em 2.5em 0em 8em;

    @media(min-width: 768px) {
      height: 40%;
      width: 40%;
      padding: 0em 1.5em;
    }
  }
}


a {
  text-decoration: none;
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  font-weight: 600;


  @media(min-width: 2560px) {
    font-size: 24px;
  }
}

a:hover,
a:active {
  color: #35AAB4;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;

  @media(min-width: 768px) {
    font-size: 14px;
  }

  @media(min-width: 1024px) {
    font-size: 16px;
  }

  @media(min-width: 1280px) {
    font-size: 20px;
  }
}

.mat-toolbar {
  border-radius: 0px;
  background-color: #ECCC3D !important;
  color: black !important;
  top: 0;
  width: 100%;
  padding: 3vh;
  position: absolute;
  z-index: 3;
  margin: 2em 0em;
}

.mat-toolbar-single-row {
  height: 40px;
}

@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
