.about-page {

  &__content {
    padding: 1em 0em;

    .header {
      color: white;
      padding: 0.6em 0em 0.6em 2em;
      width: 1em;
      font-size: 23px;
      margin: 2em 0em;

      @media(min-width: 768px) {
        width: 9em;
        font-size: 33px;

      }
    }

    .blue {
      background-color: #35AAB4;
    }

    .yellow {
      background-color: #ECCC3D;
    }

  }

  &__structure {
    .header {
      color: white;
      padding: 0.6em 0em 0.6em 2em;
      width: 1em;
      font-size: 23px;
      margin: 2em 0em;

      @media(min-width: 768px) {
        width: 9em;
        font-size: 33px;

      }
    }

    .blue {
      background-color: #35AAB4;
    }
  }
}
