<app-page-banner [pageBanner]="bannerData"></app-page-banner>
<section class="quotation-page">
  <div class="quotation-page__intro">
    <div class="header blue">
      Quotation
    </div>
    <div class="text">
      We service a number of professionals and public sectors.
      We have acknowledged that the best work is that done by skillful workers.
      We pride ourselves on being a best company and we believe that any professional relationship should be mutual
      beneficial and this is our goal for each and every client that we
      render our services for, without distinguishing between the size of work load and its
      complexity
    </div>
  </div>
  <div class="header yellow">
    Full Details
  </div>
  <div class="quotation-page__qoute-form">
    <form (ngSubmit)="submit()">
      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" class="form-control">
      </div>
      <pre></pre>
      <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" class="form-control">
      </div>
      <pre></pre>
      <div class="form-group">
        <label for="phonename">Phone Number:</label>
        <input type="text" name="phonename" class="form-control">
      </div>
      <pre></pre>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" name="email" class="form-control">
      </div>

      <div class="header blue">
        Service
      </div>
      <div class="form-group">
        <label for="email">Select</label> 
        <!-- <input type="text" name="email" class="form-control"> To Do: fix select -->
      </div>
      <div class="header yellow">
        Message
      </div>
      <div class="form-group">
        <label for="message">Type Message:</label>
        <textarea type="text" rows="6" class="form-control"></textarea>
      </div>
      <div class="header blue">
        Uploads
      </div>
      <div class="form-group">
        <!-- <input type="file" class="form-control" (change)="onFileSelect($event)" /> ToDo: Fix file upload -->
      </div>
      <button type="btn" type="submit">Submit</button>
    </form>
  </div>
</section>
